@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Permanent+Marker&family=Fira+Code:wght@400;600&family=Inter:wght@400;600;800;900&display=swap');
@import 'katex/dist/katex.min.css';
@import '@shikijs/magic-move/dist/style.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: #090d16;
  color: #f8fafc;
  -webkit-font-smoothing: antialiased;
}

.shiki {
  background-color: transparent !important;
  margin: 0;
  padding: 0;
}
